.grid {
    display: grid;
    max-width: 500px;
    grid-template-columns: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar {
        flex-direction: row !important;
        justify-content: space-between;
    }

    input[type="text"], select {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

.grid-item {
    justify-self: center;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding:1rem 0 1rem 0;
}

.prompt {
    margin: 0 0 1.5rem 0;
    padding-bottom: .75rem;
    text-align: center;
    border-bottom: 1px solid rgb(39, 134, 65);
}

.container {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], select {
    padding: .3rem;
    font-size: 1rem;
    margin: .5rem;
}

.fragments-list {
    font-size: 1.25rem;
}

.fragments-list li {
    padding: .5rem 0 .5rem .5rem;
}

.fragments-list a {
    text-decoration: none;
    color: rgb(39, 134, 65);
}