.grid {
    display: grid;
    max-width: 768px;
    grid-template-columns: 100%; /* rozmiar kolumny */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.grid-item {
    justify-self: center;
}

.title {
    font-size: 2rem;
    line-height: 100px;
}

.form-group {
    padding: 1rem 2rem 1rem 2rem;
}

select, textarea{
    height: 100%;
    width: 90%;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

textarea {
    resize: none;
}

.dropzone {
    width: 90%;
    height: 100px;
    padding-left: 1rem;
    padding-top: .5rem;
    margin: .5rem auto;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 25px;
    position: relative;

}

.drag-drop {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.drag-drop input {
    width: 100%;
    height: 100%;
}

.dropzone label {
    font-size: 1rem;
    border: 1px solid lightgrey;
    border-radius: 12px;
    padding: 3px 10px;
}

select:focus, textarea:focus {
    outline: none;
}

label {
    font-size: 1.4rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
    margin: 1rem;
}

button:active {
    transform: scale(0.95);
    outline: none;
}

.single-file {
    width: 90%;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px lightgrey;
    border-radius: 25px;
    margin: .5rem auto;
}

.single-file .info {
    width: 100%
}

.single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}

.single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

button:active {
    transform: scale(0.95);
    outline: none;
}

.is-invalid {
    border: 1px solid red;
}

.invalid-input-text {
    color: red;
    font-size: 0.8rem;
}

.error {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}