<header class="header">
    <nav class="nav grid">
        <div>
            <a routerLink="/" class="nav-logo">SZLAKOWNIK</a>
        </div>

        <div class="nav-menu" id="navmenu" [ngClass]="menuVisible ? 'show' : 'hide'">

            <!-- NAVBAR TURYSTY -->
            <ul class="nav-list" *ngIf="getRole() === 'Tourist'">
                <li class="nav-item"><a routerLink="/stworz-wycieczke" class="nav-link" (click)="itemSelected()">Stwórz wycieczkę</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Historia wycieczek</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Twoja odznaka</a></li>
                <li class="nav-item"><a routerLink="/wyslij-wycieczke" class="nav-link" (click)="itemSelected()">Złóż wniosek</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bx-user-circle'></i></a></li>
                <li class="nav-item"><a (click)="logoutUser()" class="nav-link"><i class="bx bx-log-out"></i></a></li>
            </ul>

            <!-- NAVBAR MODERATORA -->
            <ul class="nav-list" *ngIf="getRole() === 'Moderator'">
                <li class="nav-item"><a routerLink="/zarzadzaj-odcinkami" class="nav-link" (click)="itemSelected()">Zarządzaj odcinkami</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Dostępnośc odcinków</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Punktacja odznak</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bx-user-circle'></i></a></li>
                <li class="nav-item"><a href="" (click)="logoutUser()" class="nav-link"><i class="bx bx-log-out"></i></a></li>
            </ul>

            <!-- NAVBAR ADMINA -->
            <ul class="nav-list" *ngIf="getRole() === 'Admin'">
                <li class="nav-item"><a routerLink="/uzytkownicy" class="nav-link" (click)="itemSelected()">Lista użytkowników</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Konfiguruj system</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bx-user-circle'></i></a></li>
                <li class="nav-item"><a href="" (click)="logoutUser()" class="nav-link"><i class="bx bx-log-out"></i></a></li>
            </ul>

            <!-- NAVBAR PRZODOWNIKA -->
            <ul class="nav-list" *ngIf="getRole() === 'Leader'">
                <li class="nav-item"><a routerLink="/uzytkownicy" class="nav-link" (click)="itemSelected()">Zatwierdź wycieczkę</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Stwórz wycieczkę</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="itemSelected()">Moje wycieczki</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bx-user-circle'></i></a></li>
                <li class="nav-item"><a href="" (click)="logoutUser()" class="nav-link"><i class="bx bx-log-out"></i></a></li>
            </ul>
        </div>

        <div class="nav-toggle" id="navtoggle" (click)="itemSelected()">
            <i class="bx bx-menu"></i>
        </div>
    </nav>
</header>
