body {
    margin: 3rem 0 0 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%; 
    grid-column-gap: 2rem;
    width:calc(100% - 2rem); 
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        height: 100%;
        width: 40%;
        padding: 2rem;
        background-color: #595377;
        transition: .5s;
    }

    .bx-user-circle, .bx-log-out {
        color: white !important;
    }
}

.nav-item {
    margin-bottom: 2rem;
}

.nav-link {
    position: relative;
    color: #ffffff;
}

.nav-logo {
    color: #595377;
}

.nav-toggle {
    color: #595377;
    font-size: 1.5rem;
    cursor: pointer;
}

.bx-log-out, .bx-user-circle {
    font-size: 1.5rem;
    margin-top: -2px;
    color: black;
}

.show {
    right: 0;
}

.hide {
    right: -100%;
}

@media screen and (min-width: 768px) {
    .nav {
        height: 4rem;
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        color: #595377;
    }

    .nav-link:hover {
        transition: 0.5s;
        color: #595377;
    }
}