.grid {
    display: grid;
    max-width: 1024px;
    grid-template-columns: 100%; /* rozmiar kolumny */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

@media screen and (min-width: 1024px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid lightgrey;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 560px) {
    .content {
        flex-direction: column;
    }

    .item {
        text-align: center;
        margin: .5rem;
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.bxs-user-circle {
    font-size: 3rem;
}
.icon {
    text-align: center;
    color: var(--primary-color);
}

.item {
    width: 100%;
}

button {
    font-size: 1.5rem;
    padding: .25rem 1rem .25rem 1rem;
    cursor: pointer;
}