<div>
    <h2>Rejestracja</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Login</label>
            <div *ngIf="submitted && form.username.errors?.required">Proszę podać poprawny login</div>
            <input type="text" formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && form.username.errors }">
        </div>

        <div class="form-group">
            <label for="password">Hasło</label>
            <div *ngIf="submitted && form.password.errors?.required">Proszę podać hasło</div>
            <input type="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
        </div>

        <div class="form-group">
            <button [disabled]="loading">Zaloguj</button>
        </div>
    </form>
</div>