.grid {
    display: grid;
    max-width: 768px;
    grid-template-columns: 100%; /* rozmiar kolumny */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.is-invalid {
    border: 1px solid red !important;
}

.invalid-input-text {
    color: red;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.grid-item {
    justify-self: center;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.title {
    font-size: 3rem;
    line-height: 100px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem 1rem 2rem;
}

.error-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    input[type="text"], input[type="number"] {
        margin-left: 0 !important;
    }

    label {
        margin-right: 0 !important;
        margin-bottom: .5rem;
    }
}

input[type="text"], input[type="number"] {
    /* margin-left: 2rem; */
    padding: .3rem;
    font-size: 1.25rem;
}

input[type="text"]:focus, input[type="number"]:focus {
    /* Można wrzucić jakiś border jak się dogadany co do kolorów */
    outline: none;
}

select {
    font-size: 1.25rem;
    padding: .3rem;
}

label {
    font-size: 1.4rem;
    margin-right: 1rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button:active {
    transform: scale(0.95);
    outline: none;
}