.outer-container {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 700px;
    height: auto;
    overflow: auto;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
}

.icon {
    font-size: 4rem;
    padding-top: 1rem;
}

.message {
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1.5rem;
}

.icon-ok {
    color: green;
}

.icon-err {
    color: red;
}

.button-close button {
    margin-bottom: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
}