.grid {
    display: grid;
    max-width: 768px;
    grid-template-columns: 100%; /* rozmiar kolumny */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.is-invalid {
    border: 1px solid red !important;
}

.invalid-input-text {
    color: red;
    font-size: 1.25rem;
}

.grid-item {
    justify-self: center;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.title {
    font-size: 4rem;
    line-height: 100px;
}

.form-group {
    padding: 1rem 2rem 1rem 2rem;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 100%;
    width: 90%;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: .5rem;
    width:18px;
    height:18px;
}

label {
    font-size: 1.4rem;
}

button {
    cursor: pointer;
    font-size: 2rem;
    padding: .5rem 2rem .5rem 2rem;
}

button:active {
    transform: scale(0.95);
    outline: none;
}

.singup-link {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: rgb(39, 134, 65);
}