.grid {
    display: grid;
    max-width: 1024px;
    grid-template-columns: 100%; /* rozmiar kolumny */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}

.is-invalid {
    border: 1px solid red !important;
}

.invalid-input-text {
    color: red;
    margin-bottom: .5rem;
}

.grid-item {
    justify-self: center;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.title {
    font-size: 3rem;
    line-height: 100px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem 1rem 2rem;
}

.error-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    input[type="text"], input[type="number"] {
        margin-left: 0 !important;
    }

    label {
        margin-right: 0 !important;
        margin-bottom: .5rem;
    }

    .inner-container {
        grid-template-columns: none !important;
    }

    .summary {
        grid-template-columns: none !important;
      }
}

input[type="text"], input[type="number"] {
    padding: .3rem;
    font-size: 1.25rem;
}

input[type="text"]:focus, input[type="number"]:focus {
    /* Można wrzucić jakiś border jak się dogadany co do kolorów */
    outline: none;
}

select {
    font-size: 1.25rem;
    padding: .3rem;
}

label {
    margin-right: 1rem;
    font-size: 1.4rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5rem 2rem .5rem 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button:active {
    transform: scale(0.95);
    outline: none;
}

.inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

textarea {
    width: 100%;
    resize: none;
    outline: none;
}

.current-point {
    font-size: 1.4rem;
}

.tab {
    overflow: hidden;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: .8rem;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }

  .fragments {
      height: 280px;
      border: 1px solid black;
      margin-right: 2rem;
      box-sizing: border-box;
  }

  .fragment {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: .5rem .3rem;
  }

  .fragment-content {
      align-self: center;
  }

  .fragment-content i:hover {
      color: grey;
  }

  .summary {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .5rem .3rem;
  }

  .trip-data {
      display: flex;
      flex-direction: column;
  }

  .trip-data div {
      margin: 1rem 0;
  }

  .summary-btn {
      align-self: center;
  }

  .summary-btn button {
      font-size: 1rem;
      padding: .2rem .8rem;
  }